body{
    margin:0px;
}
.logobg{
    height:350px;
    max-width: 100%;
    filter: blur(2.7px)
}

.mcontainer{
    padding-left:30px;
    text-align: center;
}

.card{
    border: none;
    width:250px;
    display: inline-block;
}

.about{
    position: relative;
    font-size:20px;
    /* font-family:'Raleway'; */
}
#background{
    filter:blur(3px);
    z-index: -1;
    position: absolute;
}
#getintro{
    margin-top:70px;
    margin-bottom:100px; 
}
#delay{
    font-size:40px;
    font-family: 'Raleway';
}
.order{
    text-align: center;
    margin-top:150px;
    margin-bottom:100px;
}

.footer{
    background-color:black;
    color:white;
    padding-top:50px;
    padding-left:50px;
    padding-right:60px;
    font-size:13px;
}

hr{
    border-color: lightgray;
}

.social{
    margin-left:700px;
}



