body{
    margin:0px;
}
.logobg{
    height: 300px;
}
.item{
    background-image:url('./images/background.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
.mcontainer{
    padding-left: 50px;
    width:100%;
    height:300px;
    background-image: url("./images/background.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}
.doc{
    position: absolute;
    right:-320px;
}
.sidebar{
    height:100vh;
    width:320px;
    float:right;
    background-color: black;
}
.hidemenu{
    float:right;
    margin-top:-20px;
}
.sidehide{
    float:left;
    color:white;
}
.show{
    right:0;
    transition:0.5s;
}
.footer{
    background-color:black;
    color:white;
}
hr{
    border-color: antiquewhite;
}
.social{
    margin-left:700px;
}
.headcontent{
    margin-left:300px;
}
.btn1{
    margin-left:150px;
}