<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- LINKING BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {{!-- <link rel="stylesheet" href="./../public/CSS/restaraunt.css"> --}}
</head>
<body>
    <div class="container-fluid mcontainer">
        <div class="row">
            <div class="item col-6">
            <div>
                <img src>
                <h2>{{selectedRes.Name}}</h2><br>
                <h5>Location</h5><br>
                <h6>Restaraunt Type</h6><br>
                Rating
            </div>
            <div class="menu">
                <h3>Menu</h3>
                <div class="maincourse">
                    <h5>Main Course</h5>
                </div>
                <div class="beverages">
                    <h5>Beverages</h5>
                </div>

            </div>
        </div>
        <div class="item col-6">
            <h4>Your Orders</h4>
            <div class="order">
                Naan X2

                subtotal
            </div>
        </div>
        </div>
    </div>
</body>
</html>
