<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Payment</title>
    <!-- LINKING BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    

    <link rel="stylesheet" href="/CSS/payment.css">

</head>
<body>
    <div class="container">
        <div class="strip"></div>
        <div class="payment">
            <h3 id="head1">Select Payment Method</h3>
            <br><br>
            <div class="item">
                <input type="radio" value="wallet" name="method">Paytm Wallet<br><br>
                <input type="radio" value="cod" name="method">Cash On Delievery<br><br>
                <input type="radio" value="card" name="method">Credit Card<br>
            </div>
        </div>
        <div class="details">
            <h3 id="head2">Personal Details</h3>
            <!-- Button trigger modal -->
            <button type="button"  id="editbutton" class="btn btn-secondary" data-toggle="modal" data-target="#edit">
            (Edit)
            </button><br>
            <div class="detail">
                <div class="heading">Name:</div>
                <div id="Name">{{user.username}}</div>
            </div><br>
            <div class="detail">
                <div class="heading">Phone No.:</div>
                <div id="Phone">{{user.phoneno}}</div>
            </div><br>
            <div class="detail">
                <div class="heading">Delievery Address:</div>
                <div id="Address">{{user.address}}</div>
            </div>
        </div>
        <div class="order">
            <h2 id="head3">Order</h2>
            <div id="food"></div>
            <h5>Total:</h5>
            <div id="total"></div>
            <button id="pay" class="btn btn-success">Pay</button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Edit Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input placeholder="Enter Name " id="name"><br><br>
                    Phone No. :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input placeholder="Enter Phone Number " id="phone" type="number"><br><br>
                    Delievery Address :<input placeholder="Enter Delievery Address" id="address"><br><br>
                    <button class="btn btn-secondary close" id="apply" data-dismiss="modal" aria-label="Close">Save</button>
                </div>
                
            </div>
        </div>
    </div>
    <script src="/JSfiles/payment.js"></script>
</body>
</html>